body {
    background-color: beige;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(56, 159, 207);
    width: 800px;
    height: 200px;
    margin: 0px auto;
}

header img {
    width: 60px;
    height: 60px;
}

header h2 {
    margin-right: 50px;
    text-decoration: none;
}

header a {
    text-decoration: none;
}

main {
    background-color: rgb(127, 255, 255);
    width: 800px;
    margin: 0px auto;
}

footer {
    background-color: rgb(78, 80, 170);
    width: 800px;
    margin: 0px auto;
}